{% extends 'base.html.twig' %}

{% block title %}Welcome in Post.IT app{% endblock %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Content</p>
            <a href="#" class="card-link">Card link</a>
        </div>
    </div>
{% endblock %}
