<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://storage.needpix.com/rsynced_images/post-it-1135321_1280.png" width="30" height="30" class="d-inline-block align-top" alt="Post it">Post it
    </a>
</nav>